<script>
  document.addEventListener('DOMContentLoaded', () => {
    const steps = document.getElementById('steps');

    {{!-- Add step --}}
    document.getElementById('add-step').addEventListener('click', () => {
      const newStep = document.createElement('li');
      newStep.innerHTML = `
        <input class="step" type="text" name="steps" placeholder="Dice all veggies finely." >
        <button class="remove-step" type="button">
          <img src="/images/remove-icon.png" alt="remove icon"/>
        </button>
        `;
      steps.appendChild(newStep);

      {{!-- remove added step --}}
      newremoveButton = newStep.querySelector('.remove-step');
      addremoveListener(newremoveButton);
    });

    {{!-- remove existing step --}}
    document.querySelectorAll('.remove-step').forEach(removeButton => {
      addremoveListener(removeButton);
    });
  });

  {{!-- remove listener and action --}}
  addremoveListener = (removeButton) => {
    removeButton.addEventListener('click', () => {
      const rowToremove = removeButton.parentNode;
      removeButton.parentNode.parentNode.removeChild(rowToremove);
    });
  };
</script>
