<main id="add-recipe">

  <h1>Add recipe</h1>

  <form action="/recipes" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title" required><br>

    <label for="image">Image:</label><br>
    <input type="text" name="image"><br>

    <p>Ingredients</p>
    <div id="ingredients">
      <div class="ingredient">
        <label for="ingredient">Ingredient:</label><br>
        <select name="ingredient" required>
            <option value="">--Please choose an ingredient--</option>
            {{#each ingredients}}
              <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select><br>

        <label for="amount">Amount:</label><br>
        <input type="number" name="amount" step="any" min="0"><br>

        <label for="unit">Unit:</label><br>
        <input type="text" name="unit"><br>
        
        <button class="delete-button delete-ingredient" type="button"><img src="/images/trash-icon-20.png" alt="trash icon"/></button>
      </div>
    </div>
    <button class="small-button" type="button" id="add-ingredient">Add another ingredient</button>

    <p>Instructions</p>
    <ol id="steps">
      <li>
        <input class="step" type="text" name="steps">
        <button class="delete-button delete-step" type="button">
          <img src="/images/trash-icon-20.png" alt="trash icon"/>
        </button>
      </li>
    </ol>
    <button class="small-button" type="button" id="add-step">Add step</button>

    <br>
    <button class="button" type="submit">Save Recipe</button>
  </form>

</main>

{{> add_remove_steps}}
{{> add_remove_ingredients}}
