<main id="add-recipe">

  <h1>Add recipe</h1>

  <form action="/recipes" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title"><br>

    <label for="image">Image:</label><br>
    <input type="text" name="image"><br>

    <div id="ingredient">
      <label for="ingredient">Ingredient:</label><br>
      <input type="text" name="ingredient"><br>

      <label for="amount">Amount:</label><br>
      <input type="number" name="amount"><br>

      <label for="unit">Unit:</label><br>
      <input type="text" name="text"><br>

      <button>Remove ingredient</button>
    </div>
    <button>Add another ingredient</button>

    <button class="button" type="submit">Submit</button>
  </form>

</main>