<main id="add-recipe">

  <h1>Add recipe</h1>

  <form action="/recipes" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title"><br>

    <label for="image">Image:</label><br>
    <input type="text" name="image"><br>

    <p>Ingredients</p>
    <div class="ingredient">
      <label for="ingredient">Ingredient:</label><br>
      <select name="ingredient">
          <option value="">--Please choose an ingredient--</option>
          {{#each ingredients}}
            <option value={{this._id}}>{{this.name}}</option>
          {{/each}}
      </select><br>

      <label for="amount">Amount:</label><br>
      <input type="number" name="amount"><br>

      <label for="unit">Unit:</label><br>
      <input type="text" name="unit"><br>

      <button>Remove ingredient</button>
    </div>
    <button type="button" id="add-ingredient">Add another ingredient</button>


    <p>Instructions</p>
    <div id="steps">
      <div class="step" id="step1">
        <label for="number">Number:</label><br>
        <input type="number" name="number" value=1><br>

        <label for="step">Step:</label><br>
        <input type="text" name="step"><br>

        <button>Remove step</button>
      </div>
    </div>
    <button type="button" id="add-step">Add another step</button>

    <button class="button" type="submit">Save Recipe</button>
  </form>

</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const instructions = document.getElementById('steps');
    let stepNumber = 2; // step 1 already exists in initial DOM

    document.getElementById('add-step').addEventListener('click', () => {
      const newStep = document.createElement('div');
      newStep.className += 'step';
      newStep.innerHTML = `<div class="step" id="step${stepNumber}">
          <label for="number">Number:</label><br>
          <input type="number" name="number" value=${stepNumber}><br>

          <label for="step">Step:</label><br>
          <input type="text" name="step"><br>

          <button>Remove step</button>
        </div>`;
      instructions.appendChild(newStep);
      stepNumber += 1;
    });
  });
</script>