<main id="discover">

  <h1>{{title}}</h1>

  {{!-- <div id="discover-recipes"> --}}
  <form action="/recipes/discover" method="post">
    <h2>Ingredients:</h2>

    <select name="ingredient" multiple>
        <option value="">--Please choose an ingredient--</option>
        {{#each ingredients}}
          <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
    </select>

    {{#each recipes}}
      {{> recipe_preview }}
    {{/each}}

    <div class="center-button">
      <button id="discover-recipes" class="button" type="submit">Discover Recipe</button>
    </div>
  {{!-- </div> --}}
  </form>
</main>