<main id="password-reset">

  <img src="/images/chef-180.png" />
  <h1>{{title}}</h1>
  <p>recipes to make it all better</p>

  <p>
    [PASSWORD RESET FORM: PENDING]
  </p>

  <p>Return to <a href="/">home</a></p>
</main>
