<main class="home">

  <img class="logo" src="/images/chef-180.png" />
  <div id="logo">
    <h1>{{title}}</h1>
    <p>recipes to make it better</p>
  </div>

  <div>
    <form>
      [PASSWORD RESET FORM: TO DO]
    </form>
  </div>

  <br>
  
  <div>
    <p>
      Return to <a href="/">home</a>
  </p>
  </div>
</main>
