<main id="home">

  <img src="/images/chef-180.png" />
  <h1>{{title}}</h1>
  <p>recipes to make it all better</p>

  <form action="/" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Your username" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="**********" required><br>

    <button class="button" type="submit">Sign In</button>
  </form>

{{{json .}}}

  {{#if error}}
  <div id="error-message">{{error}}</div>
  {{/if}}

  <p><a href="forgot/">Forgot password?</a></p>
  <p>Don't have an account? <a href="/register">Register here</a></p>
</main>