<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/chef-40.png" /></a>
      <h2>Better Chef</h2>
      <a href="/users/{{user.id}}">User</a>
      <ul>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/recipes/add">Add Recipe</a></li>
        <li><a href="/recipes/find">Find Recipes</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
