<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <img src="/images/chef-40.png" />
      <h1>{{title}}</h1>
      <ul>
        <li>Recipes</li>
        <li>Add Recipe</li>
        <li>Find Recipes</li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
