<main id="change-password">
  <h1>Change password</h1>
  <form action="{{user.id}}/change-password" method="post">
    <label for="current-password">Current password:</label><br>
    <input type="password" name="password" placeholder="**********"><br>
    <label for="new-password">New password:</label><br>
    <input id="new-password" type="password" name="newPassword" placeholder="**********"><br>
    <label for="confirm-password">Confirm new password:</label><br>
    <input id="confirm-password" type="password" name="confirmPassword" placeholder="**********"><br>
    <button id="submit-button" class="button" type="submit">Change Password</button>
  </form>
  
  {{#if error}}
  <div id="error-message">{{error}}</div>
  {{/if}}
</main>