<main id="change-password">

  <h1>Change password</h1>

  <form action="password" method="post">
    <label for="current-password">Current password:</label><br>
    <input type="password" name="password" placeholder="**********" required><br>
    <label for="new-password">New password:</label><br>
    <input type="password" name="newPassword" placeholder="**********" required><br>
    <label for="confirm-password">Confirm new password:</label><br>
    <input type="password" name="confirmPassword" placeholder="**********" required><br>
    <button class="button" type="submit">Save Changes</button>
  </form>
  
  {{#if error}}
  <div id="error-message">{{error}}</div>
  {{/if}}
</main>