<main id="recipes">
  {{!-- {{{json .}}} --}}
  <h1>{{title}}</h1>

  <div id="recipe-list">
    {{#each recipes}}
      {{> recipe_preview}}
    {{/each}}
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.delete-button').forEach(deleteButton => {
      deleteButton.addEventListener('click', () => {
        let confirmDelete = confirm('OK to delete?');
        if (confirmDelete) {
          deleteButton.parentNode.submit();
        }
      });
    });
  });
</script>