<main id="register">

  <img src="../public/images/chef-large.png" />
  <h1>{{title}}</h1>
  <p>recipes to make it all better</p>

  <form action="/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Your username" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="**********" required><br>

    <button class="button" type="submit">Create account</button>
  </form>

  {{#if error}}
  <div class="error-message">{{error}}</div>
  {{/if}}

  <p>Already have an account? <a href="/">Sign in</a></p>
</main>