<main class="home">

  <img src="/images/chef-180.png" />
  <div id="logo">
    <h1>{{title}}</h1>
    <p>recipes to make it all better</p>
  </div>

  <form action="/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Thor" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="•••••••••" required><br>

    <div id="button-container">
      <button class="button" type="submit">Register</button>
    </div>
  </form>

  {{#if error}}
  <div id="error-message">{{error}}</div>
  {{/if}}

  <div id="footer">
    <p>Already have an account? <a href="/">Sign in</a></p>
  </div>
</main>