<main class="home">

  <img src="/images/chef-180.png" />
  <div id="logo">
    <h1>{{title}}</h1>
    <p>recipes to make it better</p>
  </div>

  <form autocomplete="off" action="/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Thor" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="•••••••••" required><br>

    <div class="center-button">
      <button class="button" type="submit">Register</button>
    </div>
  </form>

  <div id="footer">
    <p>Already have an account? <a href="/">Sign in</a></p>
  </div>

  {{#each messages}}
  <div id="message">{{this}}</div>
  {{/each}}
  
</main>