body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FF4C4C;
  text-decoration: none;
}

nav ul {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

nav a {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
}

#error-message {
  font-style: italic;
}

button {
  background-color: transparent;
  outline: none;
}

.button {
    width: auto;
    padding: 5px 10px;
    margin-top: 20px;
    display: block;
    border: 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: rgb(255, 76, 76, 0.5);
    color: white;
}

.small-button {
  width: auto;
  padding: 5px 10px;
  margin-top: 10px;
  display: block;
  border: 1;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgb(255, 255, 255, 0.5);
}